# AnimeThemes
API_ANIMETHEMES=https://api.animethemes.moe
ARTIST_URL=https://animethemes.moe/artist
ANIME_URL=https://animethemes.moe/anime

# API
API_HOST=
API_KEY=a
API_PORT=

# Discord
DISCORD_TOKEN=
DISCORD_FORUM_CHANNEL_ID=
DISCORD_TRELLO_CHANNEL_ID=
DISCORD_WINTER_FORUM_TAG=
DISCORD_SPRING_FORUM_TAG=
DISCORD_SUMMER_FORUM_TAG=
DISCORD_FALL_FORUM_TAG=

# Trello
TRELLO_SECRET=