# Discord
DISCORD_TOKEN =
DISCORD_FORUM_CHANNEL_ID =

# AnimeThemes
API_ANIMETHEMES = https://api.animethemes.moe/
ARTIST_URL = https://animethemes.moe/artist/
ANIME_URL = https://animethemes.moe/anime/